ion-card-title {
  padding: 20px;
  text-align: center;
}

.product-price-prefix,
.product-price,
.product-price-suffix {
  margin-right: 5px;
  font-size: 16px;
  font-weight: 700;
}

.product-price-suffix {
  color: silver;
}

ion-chip {
  background-color: indigo;
  color: aliceblue;
  font-weight: 700;
}

.button-wrapper {
  justify-content: space-between;
}

ion-button {
  margin: 16px;
}

ion-img::part(image) {
  max-height: 400px;
}
